<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>org.aquatransport.bootstrap</string>
<key>ProgramArguments</key><array>
<string>/usr/share/aquatransport/aquatransport-bootstrap</string>
</array>
<key>RunAtLoad</key><true/>
<!-- launchd delivers matching services that exist when the job loads as well
     as ones that register later. -->
<key>LaunchEvents</key><dict>
<key>com.apple.iokit.matching</key><dict>
<key>WiFiAvailable</key><dict>
<key>IOProviderClass</key><string>IO80211Interface</string>
<key>IOMatchLaunchStream</key><true/>
</dict>
<key>BluetoothAvailable</key><dict>
<key>IOProviderClass</key><string>IOBluetoothHCIController</string>
<key>IOMatchLaunchStream</key><true/>
</dict>
</dict></dict>
<key>ProcessType</key><string>Background</string>
</dict></plist>
